/*/////////////////////////////// Variáveis ///////////////////////////
/////*/
$bp-small: 31.25em;
$bp-medium: 43.75em;
$bp-large: 62.5em;
$bp-largest: 75em;
$bp-extra-large: 93.75em;

$font-primary: "Poiret One", cursive;
$font-secondary: "Assistant", sans-serif;
$font-tertiary: "Roboto", sans-serif;

$color-primary: rgb(51, 58, 160);
$color-secondary: rgb(178, 57, 65);
$color-tertiary: rgb(65, 178, 57);

$color-white: white;
$color-whitesmoke: whitesmoke;
$color-lg-primary: linear-gradient(
  rgba(51, 58, 160, 0.7),
  rgba(71, 77, 169, 0.7)
);
$color-lg-secondary: linear-gradient(
  rgba(178, 57, 65, 0),
  rgba(185, 76, 84, 0.1)
);
$color-lg-tertiary: linear-gradient(
  rgba(65, 178, 57, 0),
  rgba(84, 185, 76, 0.1)
);

/*/////////////////////////////// GERAIS ///////////////////////////
/////*/

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:hover,
*:active {
  transition: all 0.3s linear;
}

@media only screen and (max-width: $bp-small) {
  html {
    font-size: 70%;
  }
}

@media only screen and (min-width: $bp-medium) {
  html {
    font-size: 90%;
  }
}

@media only screen and (min-width: $bp-large) {
  html {
    font-size: 90%;
  }
}

@media only screen and (min-width: $bp-largest) {
  html {
    font-size: 100%;
  }
}

body {
  color: #191919;
}

.container {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  margin-top: 3%;

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 100%;
  }

  @media only screen and (min-width: $bp-medium) {
    grid-template-columns: 7.5% 85% 7.5%;
  }

  @media only screen and (min-width: $bp-large) {
    grid-template-columns: 5% 90% 5%;
  }

  @media only screen and (min-width: $bp-largest) {
    grid-template-columns: 11% 78% 11%;
  }

  @media only screen and (min-width: $bp-extra-large) {
    grid-template-columns: 15% 70% 15%;
  }
}

h1 {
  font-family: $font-tertiary;
}

h2 {
  font-family: $font-tertiary;
}

p {
  font-family: $font-secondary;
}

/*/////////////////////////////// HEADING ///////////////////////////
/////*/
.heading {
  display: flex;
  flex-grow: 1;
  justify-content: center;

  background: linear-gradient(rgb(57, 65, 178), rgb(76, 84, 185));

  &__nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    list-style-type: none;
    height: 3rem;
  }

  &__btn {
    display: flex;
    text-transform: uppercase;

    width: 7rem;
    height: 3rem;

    justify-content: center;
    align-self: center;

    color: white;

    text-decoration: none;
    font-family: $font-secondary;
    font-size: 1rem;
  }

  &__btn li {
    justify-content: center;
    align-self: center;
  }

  &__btn:hover {
    background: $color-lg-primary;
  }

  &__btn:active,
  &__btn li:active {
    color: gray;
  }
}

/*/////////////////////////////// MAIN ///////////////////////////
/////*/

.main {
  display: grid;
  grid-template-rows: repeat(4, 80vw);
  grid-template-columns: 50% 50%;

  background-color: whitesmoke;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 81vw);
    grid-column: 1 / 4;
  }

  @media only screen and (min-width: $bp-medium) {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 57vw);
    grid-column: 2 / 3;
  }

  @media only screen and (min-width: $bp-large) {
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, 45vw);
    grid-column: 2 / 3;
  }

  &__main-presentation {
    display: grid;
    grid-template-rows: 30% 40% 30%;
    grid-row: 1 / 2;
    grid-column: 1 / 4;

    background: url("../img/andre-matos-img-1.webp")
      no-repeat center;
    background-size: cover;
  }

  &__presentation {
    display: grid;
    grid-template-rows: 30% 40% 30%;
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    background: url("../img/andre-matos-img-3.webp")
      no-repeat center;
    background-size: cover;

    @media only screen and (max-width: $bp-medium) {
      grid-row: 2 / 3;
    }

    @media only screen and (min-width: $bp-medium) {
      grid-row: 2 / 3;
    }

    @media only screen and (min-width: $bp-large) {
      grid-row: 2 / 2;
      grid-column: 1 / 2;
    }
  }

  &__career {
    display: grid;
    grid-template-rows: 30% 40% 30%;
    grid-column: 1 / 2;

    background: url("../img/andre-matos-img-4.webp")
      no-repeat center;
    background-size: cover;

    @media only screen and (max-width: $bp-medium) {
      grid-row: 3 / 4;
      grid-template-rows: 30% 35% 35%;
    }

    @media only screen and (min-width: $bp-medium) {
      grid-row: 3 / 4;
    }

    @media only screen and (min-width: $bp-large) {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
    }
  }

  &__shows {
    display: grid;
    grid-template-rows: 15% 40% 50%;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }

  &__video {
    display: grid;
    grid-template-rows: 15% 20% 45% 25%;
    grid-template-columns: 20% 60% 20%;
    grid-column: 1 / 3;

    background: url("../img/andre-matos-img-2.webp")
      no-repeat top;
    background-size: cover;

    @media only screen and (max-width: $bp-medium) {
      grid-row: 4 / 5;
      grid-template-rows: 30% 35% 35%;
    }

    @media only screen and (min-width: $bp-large) {
      grid-row: 3 / 4;
    }
  }

  &__bio {
    display: grid;

    grid-template-columns: 20% 60% 20%;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    grid-template-rows: 15% 30% min-content min-content min-content;

    background-color: $color-whitesmoke;

    @media only screen and (min-width: $bp-medium) {
      grid-template-columns: 20% 60% 20%;
    }

    @media only screen and (min-width: 320px) {
      grid-template-columns: 5% 90% 5%;
    }
  }
}

// PRESENTATION \\

.main-presentation {
  &__site {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    margin-left: auto;
    margin-right: 3rem;
    height: 5rem;
    clear: both;
  }

  &__h1 {
    clear: both;
    padding: 2%;
    display: grid;
    color: white;
    align-self: center;
    text-align: center;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
  }

  &__link {
    text-decoration: none;
  }

  &__span {
    vertical-align: middle;
    grid-row: 1 / 2;
    font-size: 1.7rem;
    color: $color-tertiary;
  }

  &__img {
    vertical-align: middle;
    margin-left: 1rem;
  }
}

.presentation {
  &__h1 {
    align-self: center;
    grid-row: 1 / 2;
    padding: 3%;
    text-align: center;

    color: white;
  }

  &__h2 {
    align-self: center;
    grid-row: 1 / 2;
    padding: 3%;
    text-align: center;

    color: white;
  }

  &__h3 {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  &__p {
    text-align: center;
    font-size: 1.4rem;

    color: white;
  }

  &__legend {
    grid-row: 3 / 4;
    background: $color-lg-tertiary;
    padding: 0 3%;
  }

  &__source {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin-left: auto;
  }
}

.career {
  &__h1 {
    grid-row: 1 / 2;
    align-self: center;
    text-align: center;

    color: white;
  }

  &__h3 {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  &__p {
    text-align: center;
    font-size: 1.4rem;

    color: white;
  }

  &__legend {
    grid-row: 3 / 4;
    padding: 0 3%;
    background: $color-lg-secondary;
  }
}

.shows {
  &__h1 {
    grid-row: 2 / 3;
    text-align: center;
  }

  &__nav {
    display: grid;
    grid-row: 3 / 4;
    justify-content: center;

    font-size: 1.3rem;
  }

  &__li {
    color: $color-primary;
    text-decoration: none;
  }
}

.video {
  &__h1 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    color: white;
    z-index: 999999;
    text-align: center;
  }

  &__container {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }
}

.bio {
  &__h1 {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    text-align: center;
  }

  &__h2 {
    &-1 {
      display: grid;
      grid-row: 4 / 5;
      grid-column: 2 / 3;
      text-align: center;
      font-size: 1.2rem;

      margin-bottom: 10%;
    }

    &-2 {
      display: grid;
      grid-row: 5 / 6;
      grid-column: 2 / 3;

      text-align: center;
      font-size: 1.2rem;
    }

    &-3 {
      display: grid;
      grid-row: 6 / 7;
      grid-column: 2 / 3;

      text-align: center;
      font-size: 1.2rem;
    }
  }

  &__p {
    &-1 {
      display: grid;
      grid-row: 3 / 4;
      grid-column: 2 / 3;

      text-align: center;

      line-height: 1.6;
      font-size: 1.4rem;

      margin-bottom: 10%;
    }

    &-2 {
      display: grid;
      grid-row: 4 / 5;
      grid-column: 2 / 3;

      margin-top: 10%;

      text-align: center;

      line-height: 1.6;
      font-size: 1.2rem;

      margin-bottom: 10%;
    }

    &-3 {
      display: grid;
      grid-row: 5 / 6;
      grid-column: 2 / 3;

      margin-top: 10%;
      margin-bottom: 10%;

      text-align: center;

      line-height: 1.6;
      font-size: 1.2rem;

      background-color: $color-whitesmoke;
    }

    &-4 {
      display: grid;
      grid-row: 6 / 7;
      grid-column: 2 / 3;

      margin-top: 10%;

      text-align: center;

      line-height: 1.6;
      font-size: 1.2rem;
      background-color: $color-whitesmoke;
    }
  }

  &__source {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
    color: $color-secondary;
    text-align: right;
  }
}
